@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");
.arrow_down {
  color: white;
  transition: 0.64s;
}
.arrow_down:hover {
  color: rgb(199, 199, 199);
  transform: scale(1.1);
  transition: 0.32s;
}

body {
  font-family: "Rubik", sans-serif;
}
header {
  background-image: url(../img/other_img/Rectangle1.jpg);
  height: 100vh;
  background-size: cover;
}
.color_white {
  color: white;
}
.card_object {
  margin-top: 15px;
  padding: 20px;
}
.carousel-control-prev-icon {
  background-image: url(../img/svg_images/arrow-left-circle-fill.svg);
}
.carousel-control-next-icon {
  background-image: url(../img/svg_images/arrow-right-circle-fill.svg);
}
.carousel-control-next, .carousel-control-prev {
    height: 32px;
    width: 32px;
    margin: auto 0;
    transition: all 0.2s;
} 
.card-img-top {
  width: 15%;
  margin: 10px auto 0;
}

.carousel-control-next:hover, .carousel-control-prev:hover {
  transform: scale(1.2);
}